.header{
    background-color: #898989;
    height: 60px;
    display: flex;
    align-items: center;
    padding: 0 20px;
    color: white;
    box-shadow: 0 2px 4px -2px rgba(0, 0, 0, .5);
}

.qa{
    color: #ffa500;
    font-size: 38px;
    padding-right: 10px;
}

.container{
    display: flex;
    margin: 0 20px;
}